{% extends "web/web_base.html" %}
{% block content %}
    {% for course in courses %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ course.semester }}</a>
              <small class="text-muted margin-right"><strong>{{ course.code }}</strong></small>
            </div>
            <h2><a class="article-title" href="#">{{ course.title }}</a></h2>
            <p class="article-content">{{ course.subject }}</p> <a href="{% url 'course-material-create' course.slug %}">Create Material</a> 
            <a href="{% url 'broadcast' %}">Send Message</a>
          </div>
        </article>
    {% endfor %}
{% endblock content %}